/* This edits the elements within the webpage */
body {
  font-family: math;
  background-color: #330033; /*Sets background as Dark Purple */
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.0;
  background-image: url('https://r4.wallpaperflare.com/wallpaper/7/827/804/light-web-sky-digital-art-wallpaper-9866cd9880b04cc8f05c71be18b2d4ca.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container { /* edits the light purple box pertaining to its size */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.header { /* This centers the Name, Major, and Minor */
  text-align: center;
  padding: 5px 0;
}
.header .profile-picture { /* edits the size of the photo */
  width: 200px;
  height: 200px;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}
.header .profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header h1 { /* edits size of Irving Sanchez */
  font-size: 36px;
  margin: 0;
}
.header h2 { /* edits the size of Major */
  font-size: 22px;
  margin: 0;
}
.header h2.minor {
  font-size: 19px; /* Smaller font size for 'Minor in Mathematics' */
}
.section { /* edits parameters for the light purple boxes */
  background-color: #442c58;
  padding: 20px; /* edits how much the wording is wrapped by box */
  margin: 10px 0;
  border-radius: 20px; /* adds radius to each of the boxes */
}
.section h2 { /* edits the font for the header of each box */
  font-size: 18px;
  margin: 0;
}
.section h2 + p a {
  color: #b5f4f8 !important;
  text-decoration: none;
  font-weight: bold;
}
.contact-info{ /* edits position of the contact information */
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
}

.contact-link { /* color of contact link information */
  color: #ffffff;
  text-decoration: none;
}

.separator { /* the little line between discord and email */
  color: #ffffff;
  margin: 05px;
}

.resume-link a{ /* color of resume link */
  color: #b5f4f8;
  text-decoration: underline;
  font-weight: bold;
}

.container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}